@layer base {
  html,
  body {
    font-family: 'Montserrat', 'SegoeUI', 'Helvetica Neue', 'Arial', 'sans-serif';
  }

  body {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 1.4em;
    color: #232323;
  }

  h1 {
    @apply text-19xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h5 {
    @apply text-6xl;
  }

  #app {
    width: 100%;
  }
}
