@font-face {
  font-family: 'Icons';
  src:
    url('../fonts/Icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
